//
@use 'bootstrap';

header {
    background: black;
    color: white;
    margin-bottom: -8px;
    height: 100px;
    nav {
        a {
            text-decoration: none;
            color: white;
            padding-top: 20px;

        }
    }
}

main {
    background: cadetblue;
}