#site_header {
    background: white;
    color: white;
    margin-bottom: -8px;
    height: 150px;
    .top-header {
        background: #0282F9;
        height: 19px;
        .text-top{
            margin-left: 1101px;

            p {
                margin-right: 30px;
                font-size: 12px;
                
            }
        }
    }
    .nav_menu {
        margin-bottom: 5px;
        margin-top: -18px;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 120px;
            img {
                width: 60%;
            }
            ul {
                list-style: none;
                height: 100%;
                margin: 0;
                li {
                    display: inline-block;
                    margin-left: 30px;
                    height: 100%;
                    a {
                        display: inline-block;
                        line-height: 120px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 800;
                        font-size: 13px;
                        color: #464646;
                        &:hover {
                            color: #0282F9;
                            border-bottom: 5px solid #0282F9;
                        }
                        &.active {
                            color: #0282F9;
                            border-bottom: 5px solid #0282F9;
                        }
                        span {
                            font-size: 15px;
                            color: #0282F9;
                        }
                    }
                }
            }
        }
        .search {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-bottom: 2px solid #0282F9;
            width: 150px;
            input {
                border: 0;
                text-align: end;
                &::placeholder {
                    color: #464646;
                    font-weight: 700;
                }
                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 0px;
                }
            }
            i {
                color: black;
            }
        }
    }
}